<% provide(:title, "Links") %>
<div class="container-fluid" id="main">
  <div class="row">

  	<h2>Staff</h2>
    <div id="goto">
    	<ul>
        <li><%= link_to "YouTube - videos", "https://www.youtube.com/", 
          :type => "button", :class => "btn btn-primary btn-xs", 
          :target => "_blank" %></li>
        <li><%= link_to "SongsTube - videos", "http://www.songs-tube.net/", 
          :type => "button", :class => "btn btn-primary btn-xs", 
          :target => "_blank" %></li>
        <li><%= link_to "Karafun - karaokes", "http://www.karafun.com/karaoke/", 
          :type => "button", :class => "btn btn-primary btn-xs",
          :target => "_blank" %></li>
        <li><%= link_to "Azlyrics - lyrics", "http://www.azlyrics.com/lyrics/", 
          :type => "button", :class => "btn btn-primary btn-xs",
          :target => "_blank", :protocol => "http" %></li>
        <li><%= link_to "Lyricsfreak - lyrics", "http://www.lyricsfreak.com", 
          :type => "button", :class => "btn btn-primary btn-xs",
          :target => "_blank" %></li>
        <li><%= link_to "Chordify - chords", "https://chordify.net/chords", 
          :type => "button", :class => "btn btn-primary btn-xs",
          :target => "_blank" %></li>
        <li><%= link_to "UltimateGuitar - lyrics+chords", "https://www.ultimate-guitar.com/", 
          :type => "button", :class => "btn btn-primary btn-xs",
          :target => "_blank" %></li>
        <li><%= link_to "e-chords - lyrics+chords", "https://www.e-chords.com", 
          :type => "button", :class => "btn btn-primary btn-xs",
          :target => "_blank" %></li>
        <li><%= link_to "AZChords - lyrics+chords", "https://www.azchords.com", 
          :type => "button", :class => "btn btn-primary btn-xs",
          :target => "_blank" %></li>
        <li><%= link_to "Songster - lyrics+chords", "https://www.songsterr.com", 
          :type => "button", :class => "btn btn-primary btn-xs",
          :target => "_blank" %></li>
        <li><%= link_to "Chordie - lyrics+chords", "http://www.chordie.com", 
          :type => "button", :class => "btn btn-primary btn-xs",
          :target => "_blank" %></li>
      </ul>	
    </div>

  </div><!-- row -->

<hr><br />

  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <img class="thumbnail img-responsive" 
          src="assets/luis-fonsi-web.jpg" 
            alt="Luis Fonsi" title="Luis-Fonsi-&-Daddy-Yankee">
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <img class="thumbnail img-responsive" 
        src="assets/willie-nelson-web.jpg" 
          alt="Willie Nelson" title="Willie Nelson with Trigger">
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <img class="thumbnail img-responsive" 
        src="assets/whitney-houston-web.jpg" 
          alt="Whitney Houston" title="images/vinko-coce-web.jpg">
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <img class="thumbnail img-responsive" 
        src="assets/vinko-coce-web.jpg" 
          alt="Vinko Coce" title="Vinko Coce - Trogirski Slavuj">
    </div>
  </div><!-- row -->

</div>
