<% provide(:title, "Sitemap") %>
<div class="container-fluid" id="main">
  <div class="row">

  	<h2>Sitemap</h2>
      <h3>Main menu</h3>
  	<div id="goto">
  		<ul>
        <li><%= link_to "Oldies", oldies_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <span style="color:#BBDEFB;"> < year = 1980 < </span>
        <li><%= link_to "Moderns", moderns_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Evergreens", evergreens_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Croatia", croatia_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Ex Yu", exyu_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Dance", dance_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Sing", sing_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Dream", dream_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
      </ul>
    </div>
      <h3>Menu Go to <small>(in the footer also)</small></h3>
  	<div id="goto">
      <ul>
        <li><%= link_to "Home", root_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "About",   about_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Help", help_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Sitemap", sitemap_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Staff", staff_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Members", members_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Links", links_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
        <li><%= link_to "Contact", contact_path, 
          :type => "button", :class => "btn btn-primary btn-xs" %></li>
      </ul>
  	</div>

  </div>

<hr><br />

  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("whitney-houston-web.jpg", alt: "Whitney Houston", 
        title: "Whitney Houston - Nippy", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Whitney_Houston" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("willie-nelson-web.jpg", alt: "Willie Nelson", 
        title: "Willie Nelson with Trigger", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Willie_Nelson" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("mick-jagger-web.jpg", alt: "Mick Jagger", 
        title: "Mick Jagger - Sir Michael Philip Jagger", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Mick_Jagger" %>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <%= link_to image_tag("oliver-dragojevic-web.jpg", alt: "Oliver Dragojevi&#263;", 
        title: "Oliver Dragojevi&#263; - &#262;oro", class: "thumbnail img-responsive"), "https://en.wikipedia.org/wiki/Oliver_Dragojevi%C4%87" %>
    </div>
  </div>

</div>