<% provide(:title, "Moderns") %>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-md-7">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//youtube.com/embed/kJQP7kiw5Fk?&rel=0" allowfullscreen name="iframe_a"></iframe>
      </div>
    </div>
    <ul class="the-buttons" style="padding-left: 0px;">
      <% play_all = [] %>
      <% @moderns_songs.each do |song| %>
        <% play_all << song.address %>
      <% end %>
      <li><a class="btn btn-warning btn-xs" href="//youtube.com/embed/kJQP7kiw5Fk?autoplay=1&loop=1&playlist=<%= play_all.join(",") %>"
        target="iframe_a" title="Play all song in sequence, one after another">Play all</a></li>
      <% @moderns_songs.each do |song| %>
        <li><a class="btn btn-primary btn-xs" href="//youtube.com/embed/<%= song.address %>?autoplay=1&rel=0" target="iframe_a" 
          title="<%= song.title %> - <%= song.performer %>"><%= song.title %></a></li>
      <% end %>
    </ul>
  </div>
</div>
