<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="That Beautiful music, Top of oldie, modern & 
    evergreen songs. Hits from Croatia & Ex Yu. Support in dancing - singing - dreaming.">
    <meta name="keywords" content="top, music, songs, oldies, evergreens, entertainment,
    dance, karaoke, dream, Croatia, Ex Yu">
    <meta name="author" content="Zvonimir Kolumbic">
    <%= stylesheet_link_tag 'application', :media => "all",
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75599152-1', 'auto');
  ga('send', 'pageview');
</script>

</head>
<body>

  <%= render 'layouts/header' %>
     <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>

</body>
</html>